---
import Hero from "@components/Hero.astro";
import Camera from "@components/Camera.astro";
import Layout from "@layouts/Layout.astro";
import { LiveWindForecast } from "@components/LiveWindForecast";
import WindGuru from "@components/WindGuru.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <div class="flex flex-col gap-16">
    <div class="pt-24"></div>
    <!-- <Hero /> -->
    <Camera />
    <LiveWindForecast client:visible />
    <WindGuru />
  </div>
  <Footer />
</Layout>
