---
import Wrapper from "@components/ui/Wrapper.astro";
---

<Wrapper id="camera" className="flex flex-col gap-8">
  <div class="title">Camara</div>
  <div class="relative w-100% h-0 pb-[56.25%]">
    <iframe
      width="800"
      height="450"
      class="pointer-events-none rounded-2xl absolute w-[100%] h-[100%] left-0 top-0"
      src="https://www.youtube.com/embed/j76mNu8Zb9o?autoplay=1&controls=0&mute=1"
      allow="autoplay; encrypted-media"></iframe>
  </div>
</Wrapper>
