---
import Button from "./ui/Button.astro";
import logo from "../assets/logo.png";
import Wrapper from "./ui/Wrapper.astro";
---

<Wrapper id="hero" className="flex flex-col lg:flex-row justify-center">
  <img
    src={logo.src}
    alt="React Router"
    class="block w-[80%] h-[80%] lg:w-[300px] lg:h-[300px] self-center"
  />
  <div class="bg-primary hidden lg:block w-[2px] h-[200px] self-center mx-12">
  </div>
  <div class="bg-primary block lg:hidden w-full h-[2px] self-center my-12">
  </div>
  <div class="max-w-[600px] self-center">
    <div class="text-foreground">
      <span class="font-bold">Hello! </span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </div>
    <Button className="mt-8" onClick="onclick">Ver el tiempo</Button>
  </div>
</Wrapper>
