---
import { cn } from "tiny-cn";

interface Props {
  links: Array<{ href: string; text: string }>;
  className?: string;
}

const { className, links } = Astro.props;
---

<nav
  class={cn("block lg:hidden", className)}
  role="navigation"
  style="position: relative;"
>
  <div id="menuToggle">
    <input type="checkbox" id="menuCheckbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      {
        links.map((link) => (
          <li>
            <a href={`#${link.href}`}>
              <label for="menuCheckbox" onclick="this.parentNode.click();">
                {link.text}
              </label>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: fixed; /* <- importante: para que se despegue del flujo normal */
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw; /* puedes ajustar a tu gusto */
    max-width: 400px;
    background: #ededed;
    padding: 50px;
    padding-top: 45px;
    box-sizing: border-box;
    overflow-y: auto;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 10; /* encima del resto */
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menu li label {
    cursor: pointer;
  }

  /*
 * And let's slide it in from the left
 */
  #menuToggle input:checked ~ ul {
    transform: translateX(0);
  }
</style>

<script type="module">
  document.addEventListener("click", (event) => {
    const menuCheckbox = document.getElementById("menuCheckbox");
    const menu = document.getElementById("menu");
    const toggle = document.getElementById("menuToggle");

    if (!menuCheckbox || !menu || !toggle) return;

    const target = event.target;

    if (
      menuCheckbox.checked &&
      !menu.contains(target) &&
      !toggle.contains(target)
    ) {
      menuCheckbox.checked = false;
    }
  });
</script>
